@tailwind base;
@tailwind components;
@tailwind utilities;

div {
}
@layer base {
  body {
    @apply h-screen bg-navbar;
  }
}
@layer components {
  input {
    background-color: #22232c;
  }
  td {
    padding: 12px;
  }
}

.css-13cymwt-control {
  background-color: #2a2d35 !important;
  outline: none !important;
}
.css-13cymwt-control:active {
  background-color: #2a2d35 !important;
}
.css-13cymwt-control:focus {
  background-color: #2a2d35 !important;
}
#react-select-3-listbox {
  background-color: #2a2d35 !important;
}
#react-select-3-listbox:hover {
  opacity: 50 !important;
}
.css-b62m3t-container:active {
  background-color: #2a2d35 !important;
}
#selectCoin:active {
  background-color: #2a2d35 !important;
}
.css-t3ipsp-control {
  background-color: #2a2d35 !important;
}
.css-t3ipsp-control:active {
  border: 0 !important;
}
.css-d7l1ni-option {
  background-color: #31c880 !important;
  color: black !important;
}
.css-feonkk-Input2 {
  color: white !important;
}
.css-w9q2zk-Input2 {
  color: white !important;
}
.css-1dimb5e-singleValue {
  color: white !important;
}
.swa12-container {
  width: 200px !important;
}
